{% extends 'base.html' %}
{% block content %}

<div class="m-5">
  <div class="d-flex justify-content-center">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="width:800px">
          <img src="https://via.placeholder.com/840x600" class="d-block w-100" alt="..." >
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">영화 목록</h2>

  <!-- 6개 -->
  <div class="m-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">5</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card m-auto">
          <img src="https://via.placeholder.com/600x840" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">6</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
