{% extends 'base.html' %}
{% block content %}
<h1 class="text-center p-3">쇼생크 탈출과 비슷한 영화 추천받기</h1>

<div class="d-flex justify-content-center"> 
  <div class="card col-8 col-lg-6">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ poster_path }}" class="card-img-top img-fluid" alt="...">
      </div>
      <div class="col-12 col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ title }} <a class="btn btn-success" href="#">{{ vote_average }}</a></h5> 
          <p class="card-text">{{ overview }}</p>
          <p class="text-secondary">{{ release_date }}</p>
          <div class="d-grid gap-2">
            <a href="https://www.themoviedb.org/movie/{{ id }}" button class="btn btn-info" type="button">상세정보</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ result }}
{% endblock content %}